.auth {
    width: 470px;

    &__title {
        margin: 0 0 30px 0;
        font-size: 48px;
        text-align: center;
    }

    &__input {
        border: 1px solid var(--border-color);

        &:not(:first-child) {
            margin-top: 20px;
        }

        &:last-of-type {
            margin-bottom: 75px;
        }
    }

    &__btn:not(:first-child) {
        margin-top: 20px;
    }
}

