:root {
    --bg-color: #485362;
    --primary-color: #353d49;
    --secondary-color: #1e2734;
    --important-color: #fcbc5d;
    --text-light-color: #f9f6f6;
    --text-dark-color: #232323;
    --text-inactive-color: #9d9d9d;
    --text-error-color: #ec2929;
    --border-color: rgba(0, 0, 0, 0.3);
}
* {
    font-family: "Montserrat";
}

body {
    box-sizing: content-box;
    margin: 0;
}