{
  "parser": "@typescript-eslint/parser",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "plugins": ["@typescript-eslint", "prettier", "jest"],
  "extends": [
    "eslint:recommended",
    // "plugin:@typescript-eslint/eslint-recommended",
    // "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "plugin:jest/all"
  ],
  "rules": {
    "no-unused-vars": "off"
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "overrides": [
    {
      "files": ["*.spec.js"],
      "rules": {
        "jest/no-hooks": "off"
      }
    },
    {
        "files": ["*.ts", "*.tsx"],
        "rules": {
            "no-undef": "off"
        }
    }
  ]
}
