.global {
    min-height: 100vh;

    &.important {
        background: var(--important-color);
    }
    &.secondary {
        background: var(--bg-color);
    }
    &__inner {
        height: 100%;
        position: relative;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
}
