.thread {
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-light-color);
    
    &__container {
        padding: 95px 0 60px 0;
        background-color: var(--bg-color);
    }

    &__body {
        width: 630px;
        margin: 0 auto;
    }
}