footer {
    background: var(--secondary-color);
    bottom: 0px;
    width: 100%;
    text-align: right;

    .footer-content {
        max-width: 1280px;
        margin: auto;
        padding: 0px 15px;
        &__allrights {
            p {
                color: var(--text-light-color);
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
            }
        }
    }
}
