.spinner {
    margin: auto;
    display: block;
    shape-rendering: auto;
    width: 100px;
    height: 100px;

    .spinner_dark {
        path {
            fill: var(--secondary-color);
        }
    }

    .spinner_light {
        path {
            fill: var(--important-color);
        }
    }
}
